---
title: lvl1
---
{% extends "layouts/_screen_no-particle.html" %}

{% block screen_content %}

{# partial example #}



<div class="chat сongratulations profile grow">

  {% include "partials/_nav.html"%}

  <div class="chat__container container">

      <div class="chat__wrap profile__wrap">
        <h1 class="nice-bg__caption">akira battle - Вперед к победам!</h1>

        <div data-simplebar class="chat__scroll table-custom__body">
          <b>Правила:</b> 
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
        </div>

        <form class="chat__form profile__content">
          <div class="profile__content_line">
            <label for="">Ученик</label>
            <input type="text" placeholder="Ученик">
          </div>
          <div class="profile__content_line">
            <label for="">Город</label>
            <input type="text" placeholder="Город">
          </div>
          <div class="profile__content_line">
            <label for="">Центр</label>
            <input type="text" placeholder="Центр">
          </div>
          <div class="profile__content_line">
            <label for="">Подгруппа</label>
            <input type="text" placeholder="Подгруппа">
          </div>
        </form>
      </div>

      <div class="chat__col">
        <div class="chat__item olimpiady__content_item">
          <div>
            <h4><b>Отборочный тур</b></h4>
            <p><b>старт: 24.02.20г. 12.00 мск</b></p>
            <p><b>завершение: 26.02.20 12.00 мск</b></p>
          </div>
          <div>
            <a href="#" class="btn btn-primary text-secondary">1 этап <img src="img/check.png" alt=""></a>
            <a href="#" class="btn btn-primary text-secondary">2 этап </a>
            <a href="#" class="btn btn-primary text-secondary">3 этап <img src="img/castle.png" alt=""></a>
          </div>
        </div>
        <div class="chat__item olimpiady__content_item">
          <div>
            <h4><b>Основной тур </b></h4>
            <p><b>старт: 24.02.20г. 12.00 мск</b></p>
            <p><b>завершение: 26.02.20 12.00 мск</b></p>
          </div>
          <div>
            <a href="#" class="btn btn-primary text-secondary">1 этап <img src="img/castle.png" alt=""></a>
            <a href="#" class="btn btn-primary text-secondary">2 этап <img src="img/castle.png" alt=""></a>
            <a href="#" class="btn btn-primary text-secondary">3 этап <img src="img/castle.png" alt=""></a>
          </div>
        </div>
      </div>

      <div class="chat__col">
        <img src="img/chat__bunner.png" alt="" class="chat__bunner">
      </div>

  </div>
  
</div>


{% endblock %}