---
title: lvl1
---
{% extends "layouts/_screen_no-particle.html" %}

{% block screen_content %}

{# partial example #}



<div class="olimpiady profile grow">

  {% include "partials/_nav.html"%}

  <div class="container">

      <div class="olimpiady__battle">
        <picture>
          <source srcset="img/battle.png" type="image/png" media="(min-width:768px)">
          <source srcset="img/battle.png" type="image/png" media="(max-width:768px)">
          <img src="img/battle.png" alt="">
        </picture>
        <a href="#" class="btn btn-primary text-secondary">Скачать график олимпиад</a>
      </div>

      <div class="olimpiady__content">

        <div class="olimpiady__content_col">

          <div class="olimpiady__content_title">
            <img src="img/cubock.png" alt="">
            <h3>ПРЕДСТОЯЩИЕ ОЛИМПИАДЫ</h3>
          </div>

          <div class="olimpiady__content_item">
            <div>
              <h4><b>Akira Battle – <br></b>Игры в сторону!</h4>
              <p><b>24 – 31 февраля 2020</b></p>
              <img src="img/olimpiady__content_item1.png" alt="" class="olimpiady__content_img">
            </div>
            <div>
              <a href="#" class="btn btn-primary text-secondary">Положение</a>
              <a href="#" class="btn btn-primary text-secondary">Начать</a>
            </div>
          </div>

          <div class="olimpiady__content_item">
            <div>
              <h4><b>Akira Battle – <br></b>Вперед к победам!</h4>
              <p><b>15 - 20 апреля 2020</b></p>
              <img src="img/olimpiady__content_item2.png" alt="" class="olimpiady__content_img">
            </div>
            <div>
              <a href="#" class="btn btn-primary text-secondary">Положение</a>
              <a href="#" class="btn btn-primary text-secondary">Начать</a>
            </div>
          </div>
          <div class="olimpiady__content_item">
            <div>
              <h4><b>Akira Battle – <br></b>Не время расслабляться!</h4>
              <p><b>15 - 20 апреля 2020</b></p>
              <img src="img/olimpiady__content_item3.png" alt="" class="olimpiady__content_img" width="145" height="59">
            </div>
            <div>
              <a href="#" class="btn btn-primary text-secondary">Положение</a>
              <a href="#" class="btn btn-primary text-secondary">Начать</a>
            </div>
          </div>
        </div>

        <div class="olimpiady__content_col">
          <div class="olimpiady__content_title">
            <img src="img/star.png" alt="">
            <h3>Результаты ОЛИМПИАД</h3>
          </div>
          <div class="olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <h4><b>Akira Battle – <br></b>Игры в сторону!</h4>
              <p><b>24 – 31 февраля 2020</b></p>
            </div>
            <div>
              <a href="#" class="btn btn-primary text-secondary">Положение</a>
              <a href="#" class="btn btn-primary text-secondary">Результаты</a>
            </div>
          </div>
          <div class="olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <h4><b>Akira Battle – <br></b>Игры в сторону!</h4>
              <p><b>24 – 31 февраля 2020</b></p>
            </div>
            <div>
              <a href="#" class="btn btn-primary text-secondary">Положение</a>
              <a href="#" class="btn btn-primary text-secondary">Результаты</a>
            </div>
          </div>
          <div class="olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <h4><b>Akira Battle – <br></b>Игры в сторону!</h4>
              <p><b>24 – 31 февраля 2020</b></p>
            </div>
            <div>
              <a href="#" class="btn btn-primary text-secondary">Положение</a>
              <a href="#" class="btn btn-primary text-secondary">Результаты</a>
            </div>
          </div>
        </div>
      </div>

  </div>
  
</div>


{% endblock %}