---
title: lvl1
---
{% extends "layouts/_screen_no-particle.html" %}

{% block screen_content %}

{# partial example #}



<div class="one olimpiady profile grow">

  {% include "partials/_nav.html"%}

  <div class="container">

      <div class="olimpiady__content">

        <div class="one__list olimpiady__content_col">

          <div class="one__item olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <img src="img/chat__bunner.png" alt="">
            </div>
            <div>
              <a href="#"><h4><b>Akira Battle – <br></b>Игры в сторону!</h4></a>
            </div>
          </div>

          <div class="one__item olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <img src="img/chat__bunner.png" alt="">
            </div>
            <div>
              <h4><b>Akira Battle – <br></b>Вперед к победам!</h4>
            </div>
          </div>

          <div class="one__item olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <img src="img/chat__bunner.png" alt="">
            </div>
            <div>
              <h4><b>Akira Battle – <br></b>Не время расслабляться!</h4>
            </div>
          </div>

          <div class="one__item olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <img src="img/chat__bunner.png" alt="">
            </div>
            <div>
              <h4><b>Akira Battle – <br></b>Игры в сторону!</h4>
            </div>
          </div>

          <div class="one__item olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <img src="img/chat__bunner.png" alt="">
            </div>
            <div>
              <h4><b>Akira Battle – <br></b>Игры в сторону!</h4>
            </div>
          </div>

          <div class="one__item olimpiady__content_item olimpiady__content_item--resault">
            <div>
              <img src="img/chat__bunner.png" alt="">
            </div>
            <div>
              <h4><b>Akira Battle – <br></b>Игры в сторону!</h4>
            </div>
          </div>
        </div>
      </div>

  </div>
  
</div>


{% endblock %}