---
title: lvl1
---
{% extends "layouts/_screen_no-particle.html" %}

{% block screen_content %}

{# partial example #}



<div class="profile grow">

  {% include "partials/_nav.html"%}

  <div class="container">

    <div class="profile__table profile__table--archive">
      <h1 class="nice-bg__caption">статистика выполнения дз</h1>

      <div class="profile__table_wrap tabs">

        <div class="profile__table_info">
          <p>
            <b>З</b>
            <span> - задано</span>
          </p>
          <p>
            <b>В</b>
            <span> - выполнено</span>
          </p>
          <p>
            <b>ВП</b>
            <span> - выполнено правильно</span>
          </p>
        </div>

        <div class="profile__table_tabs">
          <ul>
            <li><a href="#one" class="next-btn btn btn-primary">ментальная арифметика</a></li>
            <li><a href="#two" class="next-btn btn btn-primary">Скорочтение</a></li>
          </ul>
          <div class="profile__content_line">
            <p class="profile__content_label">Дата</p>
            <p class="profile__content_info"><img src="img/svg/4.svg" alt="">27/07/2020</p>
          </div>
        </div>

        <div id="one" class="tabs__wrap">
          <table class="">
            <tr>
              <th rowspan="3">Раздел</th>
              <th rowspan="1" colspan="2">Стабильность (дней)</th>
              <th colspan="15">Успеваемость</th>
            </tr>
            <tr>
              <th rowspan="2">З</th>
              <th rowspan="2">В</th>
              <th colspan="3">Флеш карты</th>
              <th colspan="3">Анзан</th>
              <th colspan="3">Анзан 2</th>
              <th colspan="3">Анзан в столбик</th>
              <th colspan="3">Всего</th>
            </tr>
            <tr>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
            </tr>
            <tr>
              <td data-text="Раздел">Ментальная арифметика</td>
              <td data-text="Стабильность (дней) З">1</td>
              <td data-text="Стабильность (дней) В">2</td>
              <td data-text="Успеваемость - Флеш карты - З">3</td>
              <td data-text="Успеваемость - Флеш карты - В">4</td>
              <td data-text="Успеваемость - Флеш карты - ВП">5</td>
              <td data-text="Успеваемость - Анзан - З">6</td>
              <td data-text="Успеваемость - Анзан - В">7</td>
              <td data-text="Успеваемость - Анзан - ВП">8</td>
              <td data-text="Успеваемость - Анзан 2 - З">9</td>
              <td data-text="Успеваемость - Анзан 2 - В">550</td>
              <td data-text="Успеваемость - Анзан 2 - ВП">11</td>
              <td data-text="Успеваемость - Анзан в столбик - З">12</td>
              <td data-text="Успеваемость - Анзан в столбик - В">13</td>
              <td data-text="Успеваемость - Анзан в столбик - ВП">14</td>
              <td data-text="Успеваемость - Всего - З">15</td>
              <td data-text="Успеваемость - Всего - В">16</td>
              <td data-text="Успеваемость - Всего - ВП">17</td>
            </tr>
            <tr>
              <td data-text="Раздел">Ментальная арифметика</td>
              <td data-text="Стабильность (дней) З">1</td>
              <td data-text="Стабильность (дней) В">2</td>
              <td data-text="Успеваемость - Флеш карты - З">3</td>
              <td data-text="Успеваемость - Флеш карты - В">4</td>
              <td data-text="Успеваемость - Флеш карты - ВП">5</td>
              <td data-text="Успеваемость - Анзан - З">6</td>
              <td data-text="Успеваемость - Анзан - В">7</td>
              <td data-text="Успеваемость - Анзан - ВП">8</td>
              <td data-text="Успеваемость - Анзан 2 - З">9</td>
              <td data-text="Успеваемость - Анзан 2 - В">10</td>
              <td data-text="Успеваемость - Анзан 2 - ВП">11</td>
              <td data-text="Успеваемость - Анзан в столбик - З">12</td>
              <td data-text="Успеваемость - Анзан в столбик - В">13</td>
              <td data-text="Успеваемость - Анзан в столбик - ВП">14</td>
              <td data-text="Успеваемость - Всего - З">15</td>
              <td data-text="Успеваемость - Всего - В">16</td>
              <td data-text="Успеваемость - Всего - ВП">17</td>
            </tr>
            <tr>
              <td data-text="Раздел">Ментальная арифметика</td>
              <td data-text="Стабильность (дней) З">1</td>
              <td data-text="Стабильность (дней) В">2</td>
              <td data-text="Успеваемость - Флеш карты - З">3</td>
              <td data-text="Успеваемость - Флеш карты - В">4</td>
              <td data-text="Успеваемость - Флеш карты - ВП">5</td>
              <td data-text="Успеваемость - Анзан - З">6</td>
              <td data-text="Успеваемость - Анзан - В">7</td>
              <td data-text="Успеваемость - Анзан - ВП">8</td>
              <td data-text="Успеваемость - Анзан 2 - З">9</td>
              <td data-text="Успеваемость - Анзан 2 - В">10</td>
              <td data-text="Успеваемость - Анзан 2 - ВП">11</td>
              <td data-text="Успеваемость - Анзан в столбик - З">12</td>
              <td data-text="Успеваемость - Анзан в столбик - В">13</td>
              <td data-text="Успеваемость - Анзан в столбик - ВП">14</td>
              <td data-text="Успеваемость - Всего - З">15</td>
              <td data-text="Успеваемость - Всего - В">16</td>
              <td data-text="Успеваемость - Всего - ВП">17</td>
            </tr>
          </table>
        </div>
        
        <div id="two" class="tabs__wrap">
          <table class="">
            <tr>
              <th rowspan="3">Раздел</th>
              <th rowspan="1" colspan="2">Стабильность (дней)</th>
              <th colspan="15">Успеваемость</th>
            </tr>
            <tr>
              <th rowspan="2">З</th>
              <th rowspan="2">В</th>
              <th colspan="3">Флеш карты</th>
              <th colspan="3">Анзан</th>
              <th colspan="3">Анзан 2</th>
              <th colspan="3">Анзан в столбик</th>
              <th colspan="3">Всего</th>
            </tr>
            <tr>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
              <th>З</th>
              <th>В</th>
              <th>ВП</th>
            </tr>
            <tr>
              <td data-text="Раздел">Ментальная арифметика</td>
              <td data-text="Стабильность (дней) З">1</td>
              <td data-text="Стабильность (дней) В">2</td>
              <td data-text="Успеваемость - Флеш карты - З">3</td>
              <td data-text="Успеваемость - Флеш карты - В">4</td>
              <td data-text="Успеваемость - Флеш карты - ВП">5</td>
              <td data-text="Успеваемость - Анзан - З">6</td>
              <td data-text="Успеваемость - Анзан - В">7</td>
              <td data-text="Успеваемость - Анзан - ВП">8</td>
              <td data-text="Успеваемость - Анзан 2 - З">9</td>
              <td data-text="Успеваемость - Анзан 2 - В">10</td>
              <td data-text="Успеваемость - Анзан 2 - ВП">11</td>
              <td data-text="Успеваемость - Анзан в столбик - З">12</td>
              <td data-text="Успеваемость - Анзан в столбик - В">13</td>
              <td data-text="Успеваемость - Анзан в столбик - ВП">14</td>
              <td data-text="Успеваемость - Всего - З">15</td>
              <td data-text="Успеваемость - Всего - В">16</td>
              <td data-text="Успеваемость - Всего - ВП">17</td>
            </tr>
            <tr>
              <td data-text="Раздел">Ментальная арифметика</td>
              <td data-text="Стабильность (дней) З">1</td>
              <td data-text="Стабильность (дней) В">2</td>
              <td data-text="Успеваемость - Флеш карты - З">3</td>
              <td data-text="Успеваемость - Флеш карты - В">4</td>
              <td data-text="Успеваемость - Флеш карты - ВП">5</td>
              <td data-text="Успеваемость - Анзан - З">6</td>
              <td data-text="Успеваемость - Анзан - В">7</td>
              <td data-text="Успеваемость - Анзан - ВП">8</td>
              <td data-text="Успеваемость - Анзан 2 - З">9</td>
              <td data-text="Успеваемость - Анзан 2 - В">10</td>
              <td data-text="Успеваемость - Анзан 2 - ВП">11</td>
              <td data-text="Успеваемость - Анзан в столбик - З">12</td>
              <td data-text="Успеваемость - Анзан в столбик - В">13</td>
              <td data-text="Успеваемость - Анзан в столбик - ВП">14</td>
              <td data-text="Успеваемость - Всего - З">15</td>
              <td data-text="Успеваемость - Всего - В">16</td>
              <td data-text="Успеваемость - Всего - ВП">17</td>
            </tr>
            <tr>
              <td data-text="Раздел">Ментальная арифметика</td>
              <td data-text="Стабильность (дней) З">1</td>
              <td data-text="Стабильность (дней) В">2</td>
              <td data-text="Успеваемость - Флеш карты - З">3</td>
              <td data-text="Успеваемость - Флеш карты - В">4</td>
              <td data-text="Успеваемость - Флеш карты - ВП">5</td>
              <td data-text="Успеваемость - Анзан - З">6</td>
              <td data-text="Успеваемость - Анзан - В">7</td>
              <td data-text="Успеваемость - Анзан - ВП">8</td>
              <td data-text="Успеваемость - Анзан 2 - З">9</td>
              <td data-text="Успеваемость - Анзан 2 - В">10</td>
              <td data-text="Успеваемость - Анзан 2 - ВП">11</td>
              <td data-text="Успеваемость - Анзан в столбик - З">12</td>
              <td data-text="Успеваемость - Анзан в столбик - В">13</td>
              <td data-text="Успеваемость - Анзан в столбик - ВП">14</td>
              <td data-text="Успеваемость - Всего - З">15</td>
              <td data-text="Успеваемость - Всего - В">16</td>
              <td data-text="Успеваемость - Всего - ВП">17</td>
            </tr>
          </table>
        </div>

      </div>

    </div>


  </div>
  
</div>


{% endblock %}