---
title: Index page
---
{% extends "layouts/_screen_layout.html" %}

{% block screen_content %}
{% include "partials/_nav.html"%}
<div class="container grow my-4">
  <div class="nice-bg grow">
    <h1 class="nice-bg__caption">текущие миссии</h1>
    <div class="row w-100 m-auto justify-content-center text-center">
      <div class="col-8 col-md-6 col-xl-4 align-self-center">
        <div class="tooltip-custom shake-anim mb-5">
          <p class="tooltip-custom__text text-info text-center">
            Спецзаданий на сегодня нет, отдохни!
          </p>
        </div>
      </div>
      <div class="col-4 col-md-3">
        <img class="img-fluid" src="img/man-no.png" alt="">
      </div>
    </div>
  </div>
</div>


{% endblock %}