---
title: lvl1
---
{% extends "layouts/_screen_no-particle.html" %}

{% block screen_content %}

{# partial example #}



<div class="сongratulations profile grow">

  {% include "partials/_nav.html"%}

  <div class="container">

    <div class="сongratulations--tour сongratulations__wrap profile__wrap">
      <h1 class="nice-bg__caption">Отборочный тур!!!!!</h1>
      <p class="сongratulations__wrap_text">2 этап</p>
      <p class="сongratulations__wrap_content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      </p>
      <a href="#" class="btn btn-info">старт</a>
      <img src="img/man-sid.png" alt="" class="сongratulations--tour__decor">
    </div>

  </div>
  
</div>


{% endblock %}