---
title: lvl1
---
{% extends "layouts/_screen_no-particle.html" %}

{% block screen_content %}

{# partial example #}



<div class="result profile grow">

  {% include "partials/_nav.html"%}

  <div class="container">

    <div class="two__table result__table profile__table">
      <h1 class="nice-bg__caption">Ментальная арифметика</h1>

      <div class="profile__table_wrap tabs">

        <table>
          <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Купить</th>
          </tr>
          <tr>
            <td data-text="Название">
              <div>
                <img src="img/chat__bunner.png" alt="">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, expedita.</h3>
              </div>
            </td>
            <td data-text="Описание">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nulla! Hic velit aliquid reprehenderit itaque voluptatum autem labore neque odio amet officiis illum placeat tenetur iste veniam, provident delectus! </td>
            <td data-text="Купить">открито</td>
          </tr>
          <tr>
            <td data-text="Название">
              <div>
                <img src="img/chat__bunner.png" alt="">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, expedita.</h3>
              </div>
            </td>
            <td data-text="Описание">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nulla! Hic velit aliquid reprehenderit itaque voluptatum autem labore neque odio amet officiis illum placeat tenetur iste veniam, provident delectus! </td>
            <td data-text="Купить">открито</td>
          </tr>
          <tr>
            <td data-text="Название">
              <div>
                <img src="img/chat__bunner.png" alt="">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, expedita.</h3>
              </div>
            </td>
            <td data-text="Описание">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, nulla! Hic velit aliquid reprehenderit itaque voluptatum autem labore neque odio amet officiis illum placeat tenetur iste veniam, provident delectus! </td>
            <td data-text="Купить">открито</td>
          </tr>
        </table>

      </div>

    </div>


  </div>
  
</div>


{% endblock %}