---
title: lvl1
---
{% extends "layouts/_screen_no-particle.html" %}

{% block screen_content %}

{# partial example #}



<div class="сongratulations profile grow">

  {% include "partials/_nav.html"%}

  <canvas></canvas>

  <div class="container">

    <div class="сongratulations__wrap profile__wrap">
      <h1 class="nice-bg__caption">Поздравляем!!!!!</h1>
      <p class="сongratulations__wrap_text">
      	молодец!
      	<br>
      	ты прошел отборочный тур, Результаты после окончания тура будут в разделе
      </p>
      <p class="сongratulations__wrap_link"><a href="#">результаты</a></p>
      <p class="сongratulations__wrap_sub-title">Удачи в основном туре!</p>
    </div>

  </div>
  
</div>


{% endblock %}