<nav class="nav d-none d-md-block">
  <div class="container">
    <div class="row">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="#" class="btn btn-sm btn-info d-flex align-items-center">Личный кабинет <i
              class="icon icon-next"></i></a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="btn btn-sm btn-info d-flex align-items-center">мои мисии <i class="icon icon-next"></i></a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="btn btn-sm btn-info d-flex align-items-center">текущие мисии <i
              class="icon icon-next"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="nav d-md-none">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="#" class="btn btn-info  d-flex align-items-center">
      <i class="icon icon-back d-none d-sm-inline-block"></i> На главную </a>
    <div class="dropdown">
      <button class="btn btn-info btn-sm dropdown-toggle" data-offset="0,20" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        мои миссии </button>
      <div class="dropdown-menu dropdown-menu-info fade text-center">
        <a href="#" class="dropdown-item dropdown-item--icon">Личный кабинет</a>
        <a href="#" class="dropdown-item dropdown-item--icon">мои мисии</a>
        <a href="#" class="dropdown-item dropdown-item--icon">текущие мисии</a>
      </div>
    </div>
  </div>
</div>